$body-bg:                   #fafafa;
$border-radius:             0;
$font-size-base:            .9rem;
$enable-prefers-reduced-motion-media-query:   false;
$enable-responsive-font-sizes:                true;

$primary:                   #31a6c7;
$secondary:                 #6e7784;